DB_HOST=localhost
DB_USERNAME=jyogi
DB_PASSWORD=password
DB_NAME=jyogi_rooms_development
DB_TEST_NAME=jyogi_rooms_test

JYOGI_AUTH_URL=https://jyogi-auth-318787388464.asia-northeast1.run.app
CLIENT_ID=
CLIENT_SECRET=
REDIRECT_URI=http://localhost:3000/auth/callback
FRONTEND_URL=http://localhost:3000
